<!DOCTYPE html>
<html class='theme-container'>

<head>
    <meta charset='utf-8'>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta name="referrer" content="no-referrer">
    {{ block "head_meta" . }}{{ end }}

    <title>{{ .Title }}</title>

    <link rel="canonical" href="{{ .Site.BaseURL }}">

    {{ $style_common := resources.Get "css/common.css" | minify | fingerprint }}
    <link rel='stylesheet' type='text/css' href='{{ $style_common.RelPermalink }}'/>
    {{ $style_normal := resources.Get "css/normal.css" | minify | fingerprint }}
    <link rel='stylesheet' media='screen and (min-width: 1201px)' type='text/css'
          href='{{ $style_normal.RelPermalink }}'/>
    {{ $style_small := resources.Get "css/small.css" | minify | fingerprint }}
    <link rel='stylesheet' media='screen and (max-width: 1200px)' type='text/css'
          href='{{ $style_small.RelPermalink }}'/>

    {{ $style_highlight := resources.Get "css/androidstudio.min.css" | minify | fingerprint }}
    <link rel='stylesheet' type='text/css' href='{{ $style_highlight.RelPermalink }}'/>
    {{ $style_highlightjs := resources.Get "js/highlight.min.js" | minify | fingerprint }}
    <script src="{{ $style_highlightjs.RelPermalink }}"></script>

    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>

</head>
<script>
    hljs.highlightAll();
</script>
<body>
{{ if not .IsHome }}
{{ partial "header/nav" . }}
{{ end }}
<div id="center" class='center' {{ if .IsHome }} style="background: transparent;padding:1%" {{ end }}>
    {{ block "center_head" . }}{{ end }}
    {{ block "center_main" . }}{{ end }}
</div>
</body>

{{ block "copyright" . }}{{ end }}

</html>