::-webkit-scrollbar {
    height: 8px;
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--scorllbar-color);
    border-radius: 4px;
}

::-webkit-scrollbar-track {
    background-color: var(--content-background-color);
    border-radius: 4px;
}

.center {
    width: 60%;
    padding: 2.5%;
    /* box-shadow: 0 0 5px 5px; */
}

.center_home {
    position: fixed;
    top: 35%;
    left: 20%;
    width: 60%;
    color: var(--font-color);
}

.center_home h1 {
    font-size: 6rem;
    padding: 0;
    margin: 0;
    font-family: var(--website-title-font-family);
}

.site-nav {
    display: inline-flex;
    margin-top: 2em;
}

.site-nav a {
    color: var(--font-color);
    background: var(--scorllbar-color);
    text-decoration: none;
    padding: 0.5em 1.75em 0.5em 1.5em;
    border-radius: 1.5em;
    margin-right: 1em;
    display: flex;
    align-items: center;
    font-weight: bold;
    text-align: center;
}

.site-nav a:hover {
    background: var(--content-background-color);
}

.site-nav img {
    width: 1.75em;
    height: 1.75em;
    margin: 0 0.5em 0 0;
    padding: 0;
}

.center_main_contents_left {
    color: var(--primary-color);
    text-decoration: none;
    position: fixed;
    top: 40%;
    text-align: center;
    width: 20%;
    left: 0;
}

.center_main_contents_main {
    position: fixed;
    overflow: auto;
    width: 19%;
    height: 70%;
    top: 15%;
    right: 1%;
}

.center_main_contents_main a {
    padding: 0 10px;
    display: flex;
    width: 100%;
    line-height: 2;
    opacity: 0.8;
    color: var(--font-color);
    text-decoration: none;
}

.center_main_contents_main a:hover {
    background: var(--content-background-color);
}

.center_main_projects_list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 1em
}

#TableOfContents {
    padding-right: 2em;
    padding-left: 0;
}

.content_post h3 {
    /* text-indent: 2em; */
}

.content_post p {
    max-width: 100%;
    /* text-indent: 2em; */
    /* margin-left: 1.5em; */
    /* margin-right: 1.5em; */
}

.content_post table {
    /* padding-left: 1.5em; */
    /* padding-right: 1.5em; */
}

.highlight {
    /* padding-left: 1.5em; */
    /* padding-right: 1.5em; */
}

.highlight-type {
    margin: 0.5em;
    right: 23%;
}

.contents_share_item_cover:hover {
    scale: 1.02;
}

.top {
    width: 60%;
    height: 8vh;
    margin: 0 auto;
    background: var(--body-background-color);
    position: sticky;
    top: 0;
    z-index: 12;
}

.top img {
    position: fixed;
    top: calc((8vh - 1.776em) / 2);
    width: 4.644em;
    /*height: 1.776em;*/
}

.top nav {
    position: fixed;
    top: calc((8vh - 1em) / 2);
    color: var(--font-color);
    right: 20%;
}

.top nav a {
    padding: 0.5em 1em;
    color: var(--font-color);
    text-decoration: none;
}

.top nav a:hover {
    border-bottom: 2px solid var(--primary-color);
}