.center {
    width: 100%;
    padding: 5%;
}

.center_main_contents_left {
    display: none;
}

.center_main_contents_title {
    display: none;
}

.center_main_contents_main {
    display: none;
}

.center_home {
    position: fixed;
    text-align: center;
    top: 30%;
    width: 100%;
    color: var(--font-color);
}

.center_home h1 {
    padding: 0;
    margin: 0;
}

.center_home div {
    /* display: inline-flex; */
    margin-top: 2em;
}

.center_home a {
    margin: 0.25em 1em;
    color: var(--font-color);
    background: var(--scorllbar-color);
    text-decoration: none;
    padding: 0.75em 1.75em 0.75em 1.5em;
    border-radius: 1.5em;
    display: flex;
    align-items: center;
    font-weight: bold;
    text-align: center;
}

.center_home a:hover {
    background: var(--primary-color)
}

.center_home img {
    display: none;
}

.content_post img {
    max-width: 100%;
    width: 100%;
}

.highlight-type {
    display: none;
}

.top {
    display: none;
}