{{ define "copyright" }}
{{ if .IsHome }}
<footer class="copyright">
    <div>
        {{ if .Site.Params.footer.gongan }}
        <img alt="beian" src="img/beian.png"/>
        <a href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode={{ .Site.Params.footer.gongan.code }}">
            {{ .Site.Params.footer.gongan.txt }}</a>
        {{ end }}
        {{ if .Site.Params.footer.beian }}
        <a href="https://beian.miit.gov.cn/">{{ .Site.Params.footer.beian }}</a>
        {{ end }}
        <label>© {{ .Site.Params.footer.since }} {{ .Site.Params.footer.copyright }}</label>
    </div>
</footer>
{{ end }}
{{ end }}