<a href="{{ or .Params.customURL .RelPermalink}}" style="text-decoration: none;">

    <div class="contents_share_item_cover" style="background: url({{.Params.Cover}});
    background-repeat: no-repeat;background-position: center;background-size: cover;">

        <div class="contents_share_item">
            <h2>
                {{ .Title }}
            </h2>
            <div>
                {{ .Date.Format "2006 年 01 月 02 日" }} · {{ .Params.Tag }}
            </div>
        </div>
    </div>

</a>